.input{
    width: 250px;
    height: 40px;
    display: flex;
    border: 2px solid black;
    position: relative;
    top: 30px;
    overflow: hidden;
}


.input-fild{
    width:80%;
    width: 80%;
    height:100%;
    border: none;
   

}
.input-fild:focus{
    outline: none;
}
.input > button{
    width:20%;
    width: 30%;
    height: 100%;
    cursor: pointer;
    background-color: blue;
    color: white;
    transition: 0.7s ease;
    border: none;
    
}
.input > button:hover{
    background-color: #014dff;
    transition: 0.7s ease;
}